html{
    scroll-behavior: smooth;
}
body {
    font-family:sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

nav {
    background-color: #111;
    color: white;
    padding: 20px 50px;
}

.navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: gray;
}

.searchInput {
    border: none;
    background-color: transparent;
}

.searchInput::placeholder {
    color: lightgray;
}

.searchInput:focus{
    outline: none;
}


.limitedOffer{
    font-size: 20px;
    border-bottom: 3px solid rgb(145, 218, 12);

}

.navBottom{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuItem{
    margin-right: 50px;
    cursor: pointer;
}

.slider{
    background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170");
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
}

.sliderWraper{
    display: flex;
    width: 500vw;
    transition: all 1s ease-in-out;
}

.sliderItem{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sliderTitle{
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 60px;
    font-weight: 900px;
    text-align: center;
    color: white;
    z-index: 1;
}


.sliderPrice{
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 45px;
    font-weight: 100px;
    text-align: center;
    color: white;
    border: 1px solid grey;
    z-index: 1;
}

.sliderBg{
    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;
    /* background-color: #369e62; */
}

.sliderImage{
    z-index: 1;
}


.buyButton{
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 35px;
    font-weight: 100px;
    color: white;
    z-index: 1;
    cursor: pointer;
    background-color: #111;
    border: none;
}

.buyButton:hover{
    background-color: white;
    color: black;
}

.sliderItem:nth-child(1) .sliderBg{
    background-color: #369e62;
}

.sliderItem:nth-child(2) .sliderBg{
    background-color: rebeccapurple;
}

.sliderItem:nth-child(3) .sliderBg{
    background-color:  teal;
}

.sliderItem:nth-child(4) .sliderBg{
    background-color: cornflowerblue;
}

.sliderItem:nth-child(5) .sliderBg{
    background-color: rgb(124, 115, 80);
}

.sliderItem:nth-child(1) .sliderPrice{
    color: #369e62;
}

.sliderItem:nth-child(2) .sliderPrice{
    color: rebeccapurple;
}

.sliderItem:nth-child(3) .sliderPrice{
    color:  teal;
}

.sliderItem:nth-child(4) .sliderPrice{
    color: cornflowerblue;
}

.sliderItem:nth-child(5) .sliderPrice{
    color: rgb(124, 115, 80);
}

.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.featureIcon{
    width: 50px;
    height: 50px;
}

.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.featureTitle{
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}

.featureDesc{
    color: gray;
    width: 50%;
    height: 50%;
}

.product{
    height: 110vh;
    background-color: whitesmoke;
    position: relative;
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
}

.productImg{
    width: 50%;
}

.productDetails{
    position: absolute;
    top: 10%;
    right: 0%;
    width: 40%;
    padding: 50px;
}

.productTitle{
    font-size: 75px;
    font-weight: 900;
}

.productDesc{
    font-size: 24px;
    color: gray;
}

.colors,.sizes{
    display: flex;
    margin-bottom: 20px;
}

.color{
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: black;
    margin-right: 10px;
    cursor: pointer;
}

.color:last-child{
    background-color: darkblue;
}

.size{
    padding: 5px 20px;
    border: 1px solid black;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.productButton{
    float: right;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    border: none;
}

.productButton:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.footer{
    margin-top: 25px;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    
}


.footer p{
    font-weight: 550;
    font-size: larger;
    margin-left: 38px;
}


.footer li{
    list-style: none;
    padding: 5px;
}

.media ul  li{
    display: inline;
    margin-top: 20px;
}
.media img{
    height: 20px;
}